body{
    height: 100vh;
    width: 100%;
    background-color: #EFF1FA;
}

.header {
    width: 90%;
    height: 10vh;
    display: flex;
    margin: auto;
}

.logo{
    width: 31px;
    height: 44px;
    padding: 10px 0px;
}

.main{
    display: flex;
    width: 60%;
    height: 80vh;
    margin: auto;
}

.contenedor1{
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor2{
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
}

.botones button{
    display: flex;
    gap: 10px;
}

.botones label{
    display: block;
    padding: 5px 0px;
}

.textoencrip{
    display: flex;
    background-color: rgba(224, 224, 224, 0.678);
    border-radius: 30px;
    text-align: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .textoencrip img{
    height: 30%;
 }

 .textoencrip label{
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bold;
 }


 .mensaje{
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px 0px;
    width: 100%;
 }


.encriptador label{
    display: block;
    color: #0A3871;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    line-height: 150%;
    padding: 20px 0px;
}   

.encriptador textarea{
    background-color: #eff1fa00;;
}


.encriptar {
    width: 200px;
    height: 40px;
    background: #0A3871;
    color: white;
    border-radius: 10px;
    border-style: none;
}
.desencriptar{
        width: 200px;
        height: 40px;
        background: #D8DFE8;
        border-radius: 10px;
        border: 1px solid #0A3871;
}

footer{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.invisible{
    opacity: 0%;
}